{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des articles de {{ condition }}</h2>
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Thème</th>
        </tr>
        {% for post in postList %}
            <tr>
                <td><a href="{{ path('post_details', {'slug': post.slug}) }}">{{ post.title }}</a></td>
                <td><a href="{{ path('theme_details', {'id': post.theme.id}) }}">{{ post.theme.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block aside %}

{% endblock %}

