{% extends "base.html.twig" %}

{% block body %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Liste des thèmes</a>
        </li>
        <li><a href="{{ path('theme_details', {'id': post.theme.id}) }}">
                {{ post.theme.name }}
            </a>
        </li>

    </ol>

    <h1>{{ post.title }}</h1>

    <p>Par {{ post.author.email }} le {{ post.createdAt | date('d/m/Y') }}</p>

    <p>{{ post.text | purify }}</p>

    {%  if post.image is defined %}
        <img src="/images/post/{{ post.image }}" alt="{{ post.image }}" width="200px">
    {% endif %}

    <hr>
    <h2>Les réponses ({{ post.answers | length }})</h2>

    <div class="col-md-8 col-md-offset-2">
        <h3>Nouvelle réponse</h3>

        {{ form(newAnswerForm) }}
    </div>

    {% for answer in answerList %}
        <div class="col-md-8 col-md-offset-2">
            <p>le {{ answer.createdAt | date('d/m/Y') }} par {{ answer.author }}</p>
            <p>{{ answer.text }}</p>
            <hr>
        </div>
    {% endfor %}

{% endblock %}